!!! 5
%html
  %head
    %title= title
    = stylesheet_link_tag "variant-creative"
    = stylesheet_link_tag "content"
    = javascript_include_tag "jquery.min.js"
    = #javascript_include_tag "jquery-ui.js"
    = javascript_include_tag "jquery_ujs.js"
    = yield :custom_js
    = csrf_meta_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28970213-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.twocolumns
    %div#wrap
      %div#header
        = render 'shared/view_cart_button'
        %h1= link_to("Sampson Stamps", root_path)
      %div#leftside
        = render("shared/country_nav")
      %div#content
        %h1.title= (@title.nil?) ? @base_title : @title
        %div#flash-messages
          - flash.each do |type, message|
            %div{:class => ["flash", type]}= message
        = yield
      %div#footer
        %p 
          &copy; 2012, Robinson Duffy
          %br Template design by
          %a{:href => 'http://andreasviklund.com'} Andreas Viklund
      %p#admin-link 
        - if current_user
          -if current_user.admin?
            = link_to "Admin", admin_path, :class => "admin-page-link"
          = link_to "Logout", logout_path
        - else
          = link_to "Login", login_path
    %div#debug-info= debug(params) if Rails.env.development?